@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url('../public/assets/Helvetica\ Neue\ 67\ Medium\ Condensed.otf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../public/assets/Helvetica\ Neue\ Regular.otf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
}

/* Loader */

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* a4 for report */

.a4-container {
  width: 100%;
  height: 550px;
  margin: 0 auto 2em auto;
  border-radius: 0.375rem;
}

.a4 {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  color: black;
  border-radius: 0.375rem;
}

.a4 p {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-wrap;
  font-size: 12px;
}

.a4 h2,
.a4 h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.a4 h2 {
  text-decoration: underline;
}

@media (min-width: 450px)  {
  .a4-container {
    height: 600px;
  }
  .a4 p {

  }

  .a4 h2,
  .a4 h3 {

  }
}

@media (min-width: 640px)  {
  .a4-container {
    height: 900px;
  }
  .a4 p {
    font-size: 12px;
  }

  .a4 h2,
  .a4 h3 {
    font-size: 16px;
  }
}

@media (min-width: 768px)  {
  .a4-container {
    height: 1100px;
  }
  .a4 p {
    font-size: 14px;
  }

  .a4 h2,
  .a4 h3 {
    font-size: 18px;
  }
}

@media (min-width: 1024px)  {
  .a4-container {
    height: 1500px;
  }

  .a4 p {
    font-size: 20px;
    line-height: 2em;
  }

  .a4 h2,
  .a4 h3 {
    font-size: 26px;
  }
}

@media (min-width: 1280px)  {
  .a4-container {
    width: 100%;
    height: 1630px;
  }

  .a4 p {
    font-size: 22px;
  }

  .a4 h2,
  .a4 h3 {
    font-size: 28px;
  }
}

/* Pencil Loader */

.pencil {
  display: block;
  width: 100px;
  height: 100px;
}

.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pencil__body1,
.pencil__body2,
.pencil__body3 {
  transform: rotate(-90deg);
}

.pencil__body1 {
  animation-name: pencilBody1;
}

.pencil__body2 {
  animation-name: pencilBody2;
}

.pencil__body3 {
  animation-name: pencilBody3;
}

.pencil__eraser {
  animation-name: pencilEraser;
  transform: rotate(-90deg) translate(49px, 0);
}

.pencil__eraser-skew {
  animation-name: pencilEraserSkew;
  animation-timing-function: ease-in-out;
}

.pencil__point {
  animation-name: pencilPoint;
  transform: rotate(-90deg) translate(49px, -30px);
}

.pencil__rotate {
  animation-name: pencilRotate;
}

.pencil__stroke {
  animation-name: pencilStroke;
  transform: translate(100px, 100px) rotate(-113deg);
}

/* Animations */
@keyframes pencilBody1 {
  from,
  to {
    stroke-dashoffset: 351.86;
    transform: rotate(-90deg);
  }

  50% {
    stroke-dashoffset: 150.8;
    /* 3/8 of diameter */
    transform: rotate(-225deg);
  }
}

@keyframes pencilBody2 {
  from,
  to {
    stroke-dashoffset: 406.84;
    transform: rotate(-90deg);
  }

  50% {
    stroke-dashoffset: 174.36;
    transform: rotate(-225deg);
  }
}

@keyframes pencilBody3 {
  from,
  to {
    stroke-dashoffset: 296.88;
    transform: rotate(-90deg);
  }

  50% {
    stroke-dashoffset: 127.23;
    transform: rotate(-225deg);
  }
}

@keyframes pencilEraser {
  from,
  to {
    transform: rotate(-45deg) translate(49px, 0);
  }

  50% {
    transform: rotate(0deg) translate(49px, 0);
  }
}

@keyframes pencilEraserSkew {
  from,
  32.5%,
  67.5%,
  to {
    transform: skewX(0);
  }

  35%,
  65% {
    transform: skewX(-4deg);
  }

  37.5%,
  62.5% {
    transform: skewX(8deg);
  }

  40%,
  45%,
  50%,
  55%,
  60% {
    transform: skewX(-15deg);
  }

  42.5%,
  47.5%,
  52.5%,
  57.5% {
    transform: skewX(15deg);
  }
}

@keyframes pencilPoint {
  from,
  to {
    transform: rotate(-90deg) translate(49px, -30px);
  }

  50% {
    transform: rotate(-225deg) translate(49px, -30px);
  }
}

@keyframes pencilRotate {
  from {
    transform: translate(100px, 100px) rotate(0);
  }

  to {
    transform: translate(100px, 100px) rotate(720deg);
  }
}

@keyframes pencilStroke {
  from {
    stroke-dashoffset: 439.82;
    transform: translate(100px, 100px) rotate(-113deg);
  }

  50% {
    stroke-dashoffset: 164.93;
    transform: translate(100px, 100px) rotate(-113deg);
  }

  75%,
  to {
    stroke-dashoffset: 439.82;
    transform: translate(100px, 100px) rotate(112deg);
  }
}

.shadow-button {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* Call to action 1 */


.cta1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 12px;
  background-color: #00003f;
  border: 3px white solid;
  border-radius: 6px;
  width: 100%;
  padding: 10px 12px;
  min-width: 100%;
  transition: color 0.4s linear;
  position: relative;
}

.cta1:hover {
  color: black;
  background: none;
}

.cta1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.cta1:hover::before {
  transform: scaleX(1);
}

.cta3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 12px;
  background-color: #00003f;
  border: 3px white solid;
  border-radius: 6px;
  padding: 10px 12px;
  transition: color 0.4s linear;
  position: relative;
}

.cta3:hover {
  color: black;
  background: none;
}

.cta3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.cta3:hover::before {
  transform: scaleX(1);
}

.cta2 {
  width: 100%;
  background-color: #00003f;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cta2-icon {
  overflow: hidden;
  transition: 0.5s;
  width: 0;
}

.cta2:hover .cta2-icon {
  width: 30px;
}

.cta6 {
  background-color: #00003f;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
  margin-right: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cta6-icon {
  overflow: hidden;
  transition: 0.5s;
  width: 0;
}

.cta6:hover .cta6-icon {
  width: 30px;
}

@media (min-width: 1024px)  {
  .cta2:hover .cta2-icon {
    width: 40px;
  }
  .cta6:hover .cta6-icon {
    width: 40px;
  }
}

.cta4 {
  width: 33%;
  background-color: #00003f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
}

.cta4-icon {
  width: 30px;
  overflow: hidden;
  transition: 0.5s;
  width: 0;
}

.cta4:hover .cta4-icon {
  width: 30px;
}

.cta5 {
  width: 33%;
  background-color: rgb(22 163 74);
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
  color: white;
}

.cta5-icon {
  width: 30px;
  overflow: hidden;
  transition: 0.5s;
  width: 0;
}

.cta5:hover .cta5-icon {
  width: 30px;
}

.titlemodal {
  font-family: "Roboto Mono", monospace;
}


/* Imessage template */

.imessage-container {
  background-color: black;
  font-family: "Helvetica Neue";
}

.imessage-bar {
  background-color: #1A1A1A;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
}

.imessage-contact {
  background-color: #A8AEBC;
  border-radius: 100%;
  font-family: "Helvetica Neue";
  font-size: 1.5em;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imessage-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 0 0;
}

.imessage-name > p {
  font-family: "Helvetica Neue Condensed";
  text-align: center;
  margin: 0 0.2em;
}

.imessage-bubble {
  max-width: 400px;
  word-wrap: break-word;
  line-height: 24px;
  position: relative;
	padding: 10px 20px;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #046CF1;
  align-self: flex-end;
}

.imessage-bubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
  right: -7px;
  width: 20px;
  background-color: #046CF1;
  border-bottom-left-radius: 20px 15px;
}


.imessage-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
  right: -26px;
  width: 26px;
  border-bottom-left-radius: 10px;
  background-color: #046CF1;
}

.imessage-text {
  font-family: "Helvetica Neue Condensed";
  font-size: 20px;
}

.navbar-bg {
  background: #FAFAFA;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15.95704650878906px);
}

.input-classic {
  position: relative;
}

.input-classic input {
  border: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0256c2;
  width: 100%;
  padding: 16px;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}


.input-classic input:valid:hover {
  background-color: rgb(255 255 255 / 0.12);
}

.placeholder-input-classic {
  position: absolute;
  left: 12px;
  top: calc(50%);
  transform: translateY(-50%);
  color: rgb(203 213 225);
  cursor: text;
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.input-classic input:focus + .placeholder-input-classic,
.input-classic input:valid + .placeholder-input-classic {
  top: -18px;
  font-size: 14px;
  color: white;
}

.input-classic input:valid  {
  background-color: #011B6B;
}

.a4-container-example {
  width: 100%;
  height: 400px;
  margin: 0 auto 2em auto;
  border-radius: 0.375rem;
  line-height: 18px;
}

.a4-example {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  color: black;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.a4-example p {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-wrap;
  font-size: 8px;
  text-align: left;
}

.a4-example h2,
.a4-example h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

.a4-example h2 {
  text-decoration: underline;
}

.a4-example h3 {
  text-align: left;
}

@media (min-width: 450px)  {
  .a4-container-example {
    height: 550px;
  }
  .a4-example p {
    font-size: 13px;
  }

  .a4-example h2,
  .a4-example h3 {
    font-size: 17px;
  }
}

@media (min-width: 640px)  {
  .a4-container-example {
    height: 600px;
    width: 100%;
  }
 .a4-example p {
    font-size: 10px;
  }

 .a4-example h2,
 .a4-example h3 {
    font-size: 14px;
  }
}

@media (min-width: 768px)  {
  .a4-container-example {
    height: 450px;
    width: 50%;
  }
.a4-example p {
    font-size: 6px;
  }

.a4-example h2,
.a4-example h3 {
    font-size: 10px;
  }

  .a4-example h3 {
    margin-top: 0px;
  }
}

@media (min-width: 1024px)  {
  .a4-container-example {
    height: 580px;
    width: 100%;
  }

.a4-example p {
    font-size: 9px;
    line-height: 2em;
  }

.a4-example h2,
.a4-example h3 {
    font-size: 14px;
  }
}

@media (min-width: 1280px)  {
  .a4-container-example {
    height: 750px;
  }

  .a4-example p {
      font-size: 12px;
    }

  .a4-example h2,
  .a4-example h3 {
      font-size: 16px;
    }

}

.shadow-navbar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
